<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.supernest.temporaryexperimental"  version = "1.0.0" versionCode = "19" >

        <name>try to compile</name>
        <description>try and try</description>
        <author>404 Developers Guild</author>
		<gap:platforms>
                <gap:platform name="ios" />
                <gap:platform name="android" />
                <gap:platform name="webos" />
                <gap:platform name="symbian.wrt" />
                <gap:platform name="blackberry" project="widgets"/>
		
		
        </gap:platforms>

        <icon src="icon.png" gap:role="default" />
        <preference name="phonegap-version" value="2.9.0" />
<feature name="http://api.phonegap.com/1.0/device"/>
<feature name="http://api.phonegap.com/1.0/media" /> 
        
        <access origin="*" subdomains="true" />
        <access uri="*" subdomains="true" />
                 <access uri="http://gcccs.org/shareCare-testing/" subdomains="true" />
        <feature name="http://api.phonegap.com/1.0/network"/>
        <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />

        </feature>
       
        
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="false" />
        <preference name="target-device" value="universal" />

</widget>

